<div class="container text-center p-5">
  <div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <div *ngIf="erroNoLoad">
    <h2>Deu erro :(</h2>
    <button class="btn btn-secondary" (click)="carregarContatos()">
      Tentar novamente
    </button>
  </div>

  <div>
    <table *ngIf="!loading && !erroNoLoad" class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>

      <tr *ngFor="let contato of contatos">
        <td>{{ contato.id }}</td>
        <td>{{ contato.nome }}</td>
        <td>
          <button class="btn btn-primary m-1" (click)="goToDetails(contato.id)">
            Ver Detalhes
          </button>
          <button
            class="btn btn-danger m-1"
            (click)="deleteContact(contato.id)"
          >
            Apagar
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
