<div class="container text-center p-5">
  <div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <div *ngIf="erroNoLoad">
    <h2>Deu erro :(</h2>
    <button class="btn btn-secondary" (click)="(carregarExtrato)">
      Tentar novamente
    </button>
  </div>

  <table *ngIf="!loading && !erroNoLoad" class="table table-hover">
    <tr>
      <th>ID</th>
      <th>Data</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Categoria</th>
    </tr>

    <tr *ngFor="let transacao of transacoes">
      <td>{{ transacao.id }}</td>
      <td>{{ transacao.data | date }}</td>
      <td>{{ transacao.descricao }}</td>
      <td>{{ transacao.valor | currency: "BRL" }}</td>
      <td>{{ transacao.categoria }}</td>
    </tr>
  </table>
</div>
