<div *ngFor="let item of MEMES_AGRUPADOS_POR_CATEGORIA">
  <h4>{{ item.categoria }}</h4>
  <div *ngFor="let meme of item.memes; let isEven = even">
    <img [src]="PREFIXO_IMAGEM_URL + '/' + meme.imagemURL" *ngIf="isEven" />
    <h5 *ngIf="!isEven">PAR</h5>
  </div>
</div>

<!-- <h4>*ngIf</h4>

<button (click)="trocarValor($event)">?</button>

<div *ngIf="exibir; else elseBlock">To dentro do ngIf</div>
<ng-template #elseBlock>
  <div>Esse é o else</div>
</ng-template>
<div *ngIf="soma(5, 6) > 10">To dentro do ngIf >10</div>
<hr />
<div *ngIf="exibir; then thenBlock; else elseBlock2"></div>

<ng-template #thenBlock> <div>Esse é o then</div> </ng-template>
<ng-template #elseBlock2> <div>Esse é o else2</div> </ng-template>

<hr />

<h4>*ngFor</h4>

<ul>
  <li *ngFor="let fruta of listaFrutas">{{ fruta }}</li>
</ul>

<ul>
  <li *ngFor="let carro of carrosLista; let idx = index">
    {{ idx + 1 }}) {{ carro.placa }} - {{ carro.cor }}
  </li>
</ul> -->
