<div class="container text-center">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-signin pt5">
    <div class="p-2">
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        name="email"
        [(ngModel)]="login.email"
        [class.is-invalid]="isValid('email', form)"
        email
        required
      />
      <div class="invalid-feedback" *ngIf="isValid('email', form)">
        Email invalido
      </div>
    </div>
    <div class="p-2">
      <input
        type="password"
        class="form-control"
        placeholder="password"
        name="password"
        [(ngModel)]="login.password"
        [ngClass]="isValid('password', form) ? 'is-invalid' : ''"
        required
      />
      <div class="invalid-feedback" *ngIf="isValid('password', form)">
        Senha invlaida
      </div>
    </div>
    <div class="p-2">
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Entrar
      </button>
    </div>
  </form>
</div>
