<h5>Exercicio contador</h5>
<!-- minha resolução -->
<!-- <app-contador
  [contador]="contador"
  (increment)="contadorIncrement()"
  (decrement)="contadorDecrement()"
></app-contador> -->

<app-exercicio-contador [(valor)]="valorContador"></app-exercicio-contador>
{{ valorContador }}
<br /><br />

<button (click)="onClickBotaoEmissor($event)">
  Emitir informação de click
</button>

<br /><br />

<button (click)="onClick($event)" (mouseenter)="passouMouse()">
  Clique em mim
</button>
<input [value]="valorDoInput" (keyup)="digitouAlgo($event)" />

<span>Valor do Input: {{ valorDoInput }}</span>

<hr />

<h2>Palavra: {{ palavra }}</h2>
<img [src]="getImageURL()" alt="image" />
<!-- <img [src]="imageURL" alt="image" /> -->

<br />

<input type="text" [value]="initialValue" />
<button [disabled]="isDisabled">Botão</button>

<br />

<p [attr.aria-label]="accessibilityText">Um texto qualquer...</p>
