<div class="container pt-5 text-center">
  <div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <div *ngIf="erroNoLoad">
    <h2>Deu erro :(</h2>
    <button class="btn btn-secondary" (click)="carregarContato()">
      Tentar novamente
    </button>
  </div>

  <form [formGroup]="contatoForm" *ngIf="!loading && !erroNoLoad">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        formControlName="nome"
        type="text"
        class="form-control"
        id="nome"
        placeholder="Nome"
        [class.is-invalid]="exibeErro('nome')"
      />
    </div>

    <div class="form-group">
      <label for="cpf">CPF</label>
      <input
        formControlName="cpf"
        type="text"
        class="form-control"
        id="cpf"
        placeholder="CPF"
        [class.is-invalid]="exibeErro('cpf')"
      />
    </div>

    <div class="form-group">
      <label for="banco">Banco</label>
      <input
        formControlName="banco"
        type="text"
        class="form-control"
        id="banco"
        placeholder="Banco"
        [class.is-invalid]="exibeErro('banco')"
      />
    </div>

    <div class="form-group">
      <label for="ag">Agência</label>
      <input
        formControlName="ag"
        type="text"
        class="form-control"
        id="ag"
        placeholder="Agência"
        [class.is-invalid]="exibeErro('ag')"
      />
    </div>

    <div class="form-group">
      <label for="cc">Conta</label>
      <input
        formControlName="cc"
        type="text"
        class="form-control"
        id="cc"
        placeholder="Conta"
        [class.is-invalid]="exibeErro('cc')"
      />
    </div>

    <button (click)="onSubmit()" class="btn btn-primary">
      {{ estaEditando() ? "Editar contato" : "Criar contato" }}
    </button>
  </form>
</div>
